.DS_Store
.vscode/
__pycache__/
resources/
note.txt
Photos/
scratch.ipynb
.idea/
.token_photoslibrary_v1.pickle
__pycache__/
.eggs/
venv/
build/
dist/
main_version.spec
googlephotoUI.ui
googlephotoUIv2.ui
*.app
